{% include 'includes/inc_main_menu.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная{% endblock %} :: Доска объявлений</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

{#        <a href="{% url 'by_rubric' rubric.pk %}{{rubric.get_absolute_url }}">{{ rubric }} ({{ rubric.cnt }})</a> #}

<section>

    {% block content %}
    {% endblock %}

</section>

<footer>&copy;1982 &ndash; {% now 'Year' %}</footer>

</body>
</html>
