{% extends "layout/basic.html" %}

{% block title %} Добавление объявления{% endblock %}

{% block content %}

<h2>Добавление объявления</h2>

{% if form.is_multipart %}

    <form method="post" enctype="multipart/form-data">
{% else %}
    <form method="post">
{% endif %}
    </form>
    {% csrf_token %}


{#    {{ form.as_p }} #}

<table>
    {{ form }}
</table>


{#    <input type="submit" value="Добавить"> #}


<button type="submit" class="btn btn-primary">Добавить</button>
</form>
{% endblock %}


<!--<div>-->
<!--    <a href="{% url 'index' %}">Главная</a>-->
<!--    {% for rubric in rubrics %}-->
<!--        <a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a>-->
<!--    {% endfor %}-->
<!--</div>-->

<!--<form method="post">-->
<!--    {% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    <input type="submit" value="Добавить">-->
<!--</form>-->

<!--</body>-->
<!--</html>-->
